<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Friendly gaming challenges between friends">
    <meta name="author" content="Bisb">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon-1024.png') }}"/>

    <title>
        {% block title %}Friendly Challenges{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/hover.css/css/hover-min.css') }}">
    {% endblock %}
</head>

<body class="pb-5">
<div class="d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 bg-dark text-white shadow-sm">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('bundles/app/img/logo.png') }}" height="50">
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal">Friendly Challenges</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="{{ path('challenge_index') }}">Challenges</a>
        <a class="p-2 text-white" href="{{ path('rule_index') }}">Rules</a>
        <a class="p-2 text-white" href="{{ path('game_index') }}">Games</a>
        <a class="p-2 text-white" href="{{ path('player_index') }}">Players</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

{% block body_wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fontawesome/all.min.js') }}"></script>
{% endblock %}
</body>
</html>
