.select2-selection--multiple {
  min-height: calc(2.25rem + 2px);

  border-radius: $border-radius;
  color: #fff;
  background-color: #343a40;
  background-clip: padding-box;
  border: none;//1px solid #ced4da;

  cursor: text;

  outline: 0;

  &:focus {
    border: none;//1px solid #7eeaca;
  }

  .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
  }

  .select2-selection__clear {
    display: none;
  }

  .select2-selection__choice {
    background-color: #20c997;
    color: #fff;

    border: none;//1px solid #20c997;
    border-radius: $border-radius;

    cursor: default;

    float: left;

    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }

  .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;

    display: inline-block;
    font-weight: bold;

    margin-right: 2px;

    &:hover {
      color: $remove-hover-color;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

&.select2-container--open {
  .select2-selection--multiple {
    border: none;//1px solid #7eeaca;
  }

  &.select2-container--above {
    .select2-selection--multiple {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--multiple {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
