.select2-container--bootstrap .select2-selection--single {
  background-color: #f7f7f7;
  height: calc(2.25rem + 2px);
  color: #fff;
  background-color: #343a40;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  outline: 0; }
  .select2-container--bootstrap .select2-selection--single:focus {
    border: none; }
  .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    height: calc(2.25rem + 2px);
    font-size: 1rem; }
  .select2-container--bootstrap .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    background-color: transparent;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
      border-color: #20c997 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }
.select2-container--bootstrap.select2-container--open .select2-selection--single {
  border: none; }
  .select2-container--bootstrap.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--bootstrap.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #20c997 transparent;
      border-width: 0 4px 5px 4px; }
.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--bootstrap .select2-selection--multiple {
  min-height: calc(2.25rem + 2px);
  border-radius: 4px;
  color: #fff;
  background-color: #343a40;
  background-clip: padding-box;
  border: none;
  cursor: text;
  outline: 0; }
  .select2-container--bootstrap .select2-selection--multiple:focus {
    border: none; }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    background-color: #20c997;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }
.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto; }
.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--bootstrap.select2-container--open .select2-selection--multiple {
  border: none; }
.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--bootstrap .select2-container {
  max-width: 100% !important; }
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  margin-top: 8px;
  border: none;
  background-color: #343a40;
  color: #fff;
  outline: 0; }
.select2-container--bootstrap .select2-search--inline .select2-search__field {
  margin-top: 8px;
  background-color: #343a40;
  color: #fff;
  outline: 0;
  box-shadow: none; }
.select2-container--bootstrap .select2-dropdown {
  background-color: #343a40;
  border: none; }
.select2-container--bootstrap .select2-dropdown--above {
  border-bottom: none; }
.select2-container--bootstrap .select2-dropdown--below {
  border-top: none; }
.select2-container--bootstrap .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--bootstrap .select2-results__option[role=group] {
  padding: 0; }
.select2-container--bootstrap .select2-results__option[aria-disabled=true] {
  color: grey; }
.select2-container--bootstrap .select2-results__option--highlighted {
  background-color: #20c997;
  color: #fff; }
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: #1ba87e; }
.select2-container--bootstrap .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }
.select2-container--bootstrap.select2-container--open .select2-dropdown {
  border: none; }

/*# sourceMappingURL=layout.css.map */
