@import "defaults";
@import "../../../../../../../web/assets/vendor/select2/src/scss/mixins/gradients";


.select2-container--bootstrap {
  @import "single";
  @import "multiple";

  .select2-container {
    max-width: 100% !important;
  }

  .select2-search--dropdown {
    .select2-search__field {
      margin-top: 8px;
      border: none;//1px solid #7eeaca;
      background-color: #343a40;
      color: #fff;
      outline: 0;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      margin-top: 8px;
      background-color: #343a40;
      color: #fff;
      outline: 0;
      box-shadow: none;
    }
  }

  .select2-dropdown {
    background-color: #343a40;
    border: none;//1px solid transparent;
  }

  .select2-dropdown--above {
    border-bottom: none;
  }

  .select2-dropdown--below {
    border-top: none;
  }

  .select2-results > .select2-results__options {
    max-height: $results-max-height;
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: $results-choice-fg-unselectable-color;
    }
  }

  .select2-results__option--highlighted {
    background-color: #20c997;
    color: #fff;
  }

  .select2-results__option[aria-selected="true"] {
    background-color: #1ba87e;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }

  &.select2-container--open .select2-dropdown {
    border: none;
    //border-color: #7eeaca;
  }
}
