<div class="form-group">
    {{ form_label(form.ruleOption.options) }}
    {{ form_widget(form.ruleOption.options) }}
    <small class="form-text text-muted">
        comma separated list
    </small>
</div>

<h4 class="font-weight-light mt-4 text-primary">Additional options</h4>

<div class="row">
    <div class="col-12 col-md-4 d-flex flex-column justify-content-center">
        <div class="form-group">
            {{ form_label(form.ruleOption.random) }}
            {{ form_widget(form.ruleOption.random) }}
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form_label(form.ruleOption.randomCountMin) }}
            {{ form_widget(form.ruleOption.randomCountMin) }}
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form_label(form.ruleOption.randomCountMax) }}
            {{ form_widget(form.ruleOption.randomCountMax) }}
            <small class="form-text text-muted">
                0 for no limit
            </small>
        </div>
    </div>
</div>



