{% if ruleOption.inversedSuccess %}
    <span class="text-danger">-{{ ruleOption.failurePoints }}</span>
    | <span class="text-success">+{{ ruleOption.successPoints }}</span>
{% else %}
    <span class="text-success">+{{ ruleOption.successPoints }}</span>
    | <span class="text-danger">-{{ ruleOption.failurePoints }}</span>
{% endif %}
{#| <span class="text-secondary">+{{ ruleOption.defaultPoints }}</span>#}