{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-light">Rules list</h1>

            <div class="row">
                <div class="col-12">
                    <div class="dropdown float-right">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-plus"></i> Add new rule
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('rule_new', {'ruleOption': 'array'}) }}">Array rule</a>
                            <a class="dropdown-item" href="{{ path('rule_new', {'ruleOption': 'boolean'}) }}">Boolean rule</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for rule in rules %}
                    {# @var rule \AppBundle\Entity\Rule #}
                    <div class="col-12 col-md-4 my-3">
                        <div class="bg-dark card h-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="card-title float-left">{{ rule.name }}</h5>
                                    </div>
                                    <div class="col-3 text-right">
                                        <a href="{{ path('rule_show', {'id': rule.id}) }}" class="btn btn-primary btn-sm" role="button">
                                            <i class="far fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <p class="card-text my-2">{{ rule.description }}</p>
                                <span class="badge badge-secondary">{{ rule.game }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}
