{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1 class="display-4">Rule creation</h1>

            {{ form_start(form) }}

            <h4 class="mt-4 font-weight-light text-primary">General</h4>

            <div class="row">
                <div class="col-12 col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.game) }}
                </div>
            </div>

            {{ form_row(form.description) }}

            <h4 class="font-weight-light mt-4 text-primary">Options</h4>
            <div class="row">
                <div class="col-12 col-md-4">
                    {{ form_row(form.ruleOption.successPoints) }}
                </div>
                <div class="col-12 col-md-4">
                    {{ form_row(form.ruleOption.failurePoints) }}
                </div>
                <div class="col-12 col-md-4">
                    {{ form_row(form.ruleOption.defaultPoints) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.ruleOption.inversedSuccess) }}
                {{ form_widget(form.ruleOption.inversedSuccess) }}
                <small class="form-text text-muted">
                    Failure points will be used instead of success points when checking the box on validation
                </small>
            </div>

            <div class="form-group">
                {{ form_label(form.ruleOption.message) }}
                {{ form_widget(form.ruleOption.message) }}
                <small class="form-text text-muted">
                    Message shown on rule validation
                </small>
            </div>

            {% if rule_option_type == 'AppBundle\\Entity\\RuleOptionArray' %}
                {% include 'rule/_form_rule_option_array.html.twig' %}
            {% elseif rule_option_type == 'AppBundle\\Entity\\RuleOptionBoolean' %}
                {% include 'rule/_form_rule_option_boolean.html.twig' %}
            {% endif %}

            {{ form_widget(form) }}

            <div class="row mt-4">
                <div class="col-12 text-right">
                    <a role="button" class="btn btn-secondary" href="{{ path('rule_index') }}">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
