{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rule.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ rule.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rule_edit', { 'id': rule.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('rule_delete', { 'id': rule.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}
