@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

//$theme-colors: (
//        "horeca-dark-blue": $horeca-dark-blue,
//        "horeca-light-blue": $horeca-light-blue,
//        "horeca-orange": $horeca-orange,
//        "horeca-gray": $horeca-gray,
//);

$font-family-sans-serif: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #20c997;
$success: #67bb2f;
$danger: #e91e63;
$warning: #ff6231;
$body-bg: #212529;
$body-color: #ffffff;

$input-bg: #343a40;
$input-color: #fff;

$hr-border-color: rgba(#fff, .2);
$hr-border-width: 1px;

$badge-font-weight: 400;

$border-width: 0;
$enable-shadows: false;
$input-focus-box-shadow: none;
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;

@import "../../../../../web/assets/vendor/bootstrap/scss/bootstrap";
@import "style";