{% set states = {
    'preparing': {'class': 'text-warning', 'fa-class': 'far fa-spinner fa-spin'},
    'started': {'class': 'text-primary', 'fa-class': 'fa fa-play'},
    'finished': {'class': 'text-success', 'fa-class': 'far fa-check'},
    'cancelled': {'class': 'text-danger', 'fa-class': 'far fa-ban'}
} %}

<div class="card bg-dark w-100">
    <div class="card-body">
        <h5 class="card-title text-primary">Infos</h5>

        <h6 class="card-subtitle mb-1 text-muted">Game</h6>
        <p class="card-text">{{ challenge.game }}</p>

        <h6 class="card-subtitle mb-1 text-muted">State</h6>
        <p class="card-text text-capitalize {{ states[challenge.state]['class'] }}">
            <i class="{{ states[challenge.state]['fa-class'] }}"></i>
            {{ challenge.state }}
        </p>

        <h6 class="card-subtitle mb-1 text-muted">Players</h6>
        <ul class="list-inline card-text">
            {% for player in challenge.players %}
                <li class="list-inline-item">{% include 'player/_inline_show.html.twig' with {'player':player} %}</li>
            {% endfor %}
        </ul>
    </div>
</div>