<div class="col-12">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ player['position'] }}</th>
                <td>{{ player['player'].username }}</td>
                <td class="{{ player['points'] > 0 ? 'text-success' : (player['points'] < 0 ? 'text-danger') }}">{{ player['points'] }}</td>
                <td>{{ player['player'].points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>