{% for challenge_participation in challenge.challengeParticipations %}
    <div class="col-12 col-md-4 my-3">
        <div class="card bg-dark w-100 h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title text-primary">
                        {{ challenge_participation.rule.name }}
                    </h5>
                    {% if edition is defined and edition == true and challenge.state != constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') %}
                        <a href="{{ path('challenge_participation_delete', {'id': challenge_participation.id}) }}"
                           class="text-danger d-block mb-2 hvr-grow">
                            <i class="far fa-times"></i>
                        </a>
                    {% endif %}
                </div>

                <h6 class="card-subtitle mb-1 text-muted">Description</h6>
                <p class="card-text">{{ challenge_participation.rule.description }}</p>

                <h6 class="card-subtitle mb-1 text-muted">Points</h6>
                <p class="card-text">
                    {% include 'rule/_points.html.twig' with {'ruleOption':challenge_participation.rule.ruleOption} %}
                </p>

                <h6 class="card-subtitle mb-1 text-muted">Players</h6>
                <ul class="list-inline card-text">
                    {% for player in challenge_participation.players %}
                        <li class="list-inline-item">{% include 'player/_inline_show.html.twig' with {'player':player} %}</li>
                    {% endfor %}
                </ul>

                <h6 class="card-subtitle mb-1 text-muted">Randomize players</h6>
                <p class="card-text {{ challenge_participation.random ? 'text-success':'text-danger' }}">
                    {{ challenge_participation.random ? 'Enabled':'Disabled' }}
                </p>

                {% if challenge_participation.challengeParticipationValues %}
                    <hr>

                    {% for values in challenge_participation.challengeParticipationValues %}
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <p class="m-0">
                                {% include 'player/_inline_show.html.twig' with {'player':values.player} %}
                            </p>

                            {% if edition is defined and edition == true and challenge.state%}
                                <div>
                                    <button class="btn btn-sm btn-outline-success {{ values.success == 1 ? 'active' }}"
                                            onclick="validateChallenge({{ values.id }}, 'success')"
                                            id="button-validation-success-{{ values.id }}">
                                        Success
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger {{ values.success == -1 ? 'active' }}"
                                            onclick="validateChallenge({{ values.id }}, 'fail')"
                                            id="button-validation-fail-{{ values.id }}">
                                        Fail
                                    </button>
                                </div>
                                {% elseif values.success != 0 %}
                                    <div>
                                        <p class="m-0 {{ values.success == 1 ? 'text-success' : 'text-danger' }}">
                                            {{ values.success == 1 ? 'Success' : 'Fail' }}
                                        </p>
                                    </div>
                            {% endif %}
                        </div>
                        {% if values.options %}
                            <ul>
                                {% for option in values.options %}
                                    <li>{{ option }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
