{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/select2/bootstrap/layout.css') }}">
{% endblock %}

{# @var challenge \AppBundle\Entity\Challenge #}
{% block body %}
    <div class="align-items-center d-flex flex-column flex-md-row justify-content-between">
        <h1>{{ challenge }}</h1>
        <div>
            <a href="#" class="btn btn-danger btn-lg mr-2" role="button">Cancel</a>
            {% if challenge.state == constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') %}
                <a href="{{ path('challenge_start', {'id': challenge.id}) }}" class="btn btn-success btn-lg ml-2"
                   role="button">Finish</a>
            {% else %}
                <a href="{{ path('challenge_start', {'id': challenge.id}) }}" class="btn btn-primary btn-lg ml-2"
                   role="button">Start</a>
            {% endif %}
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 my-3">
            <img src="{{ challenge.game.image }}" alt="{{ challenge.game }}" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-12 col-md-6 my-3">
            {% include 'challenge/_infos.html.twig' %}
        </div>
    </div>

    {% if challenge.state == constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') %}
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-light">Results</h2>
            </div>
        </div>

        <div class="row" id="results">
            {{ render(controller('AppBundle:Challenge:getResults', { 'id': challenge.id })) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-light">Rules</h2>
        </div>
    </div>

    <div class="row">
        {% include 'challenge/_rules.html.twig' with {'edition':(challenge.state == constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') ? true : false)} %}
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h4 class="mt-4 font-weight-light text-primary">Add rule</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Add</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/select2/dist/js/select2.full.min.js') }}"></script>

    <script>
        function loadResults() {
            $.ajax({
                url: '{{ path('challenge_results', {'id': challenge.id}) }}',
                success: function (e) {
                    $('#results').html(e.html);
                }
            });
        }

        function validateChallenge(id, state) {
            $.ajax({
                url: '{{ path('challenge_validate') }}/'+id,
                type: 'GET',
                data: {'state': state},
                success: function (e) {
                    loadResults();
                    $('#button-validation-fail-'+id).removeClass('active');
                    $('#button-validation-success-'+id).removeClass('active');
                    if (e.state !== 0)
                        $('#button-validation-' + state + '-' + id).addClass('active');
                }
            });
        }

        $(document).ready(function () {
            $('#{{ form.players.vars.id }}').select2({theme: 'bootstrap', placeholder: 'All'});
            $('#{{ form.rule.vars.id }}').select2({theme: 'bootstrap'});
        });
    </script>
{% endblock %}
