{% extends 'base.html.twig' %}

{% set states = {
    'preparing': {'class': 'text-warning', 'fa-class': 'far fa-spinner fa-spin'},
    'started': {'class': 'text-primary', 'fa-class': 'fa fa-play'},
    'finished': {'class': 'text-success', 'fa-class': 'far fa-check'},
    'cancelled': {'class': 'text-danger', 'fa-class': 'far fa-ban'}
} %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Challenges list</h1>

            <a class="btn btn-primary float-right" role="button" href="{{ path('challenge_new') }}">New challenge</a>

            <table class="table table-striped table-hover table-sm">
                <thead class="">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Players</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for challenge in challenges %}
                    <tr>
                        <td><a href="{{ path('challenge_show', { 'id': challenge.id }) }}">{{ challenge.id }}</a></td>
                        <td>{{ challenge }}</td>
                        <td>{{ challenge.game }}</td>
                        <td>
                            {% for player in challenge.players %}
                                {% include 'player/_inline_show.html.twig' with {'player':player} %}{{ not loop.last ? ', ' }}
                            {% endfor %}
                        </td>
                        <td class="{{ states[challenge.state]['class'] }}">{{ challenge.state }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{{ path('challenge_show', { 'id': challenge.id }) }}" role="button" class="btn btn-primary btn-sm">Show</a>
                                <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}" role="button" class="btn btn-warning btn-sm">Edit</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
