{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/select2/bootstrap/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/hover.css/css/hover-min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-light">Challenge creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a class="btn btn-secondary" role="button" href="{{ path('challenge_index') }}">Back to the list</a>
            <button type="submit" class="btn btn-primary">Add</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/select2/dist/js/select2.full.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('select').select2({
                // closeOnSelect: false,
                theme: 'bootstrap'
            });
        });
    </script>
{% endblock %}
