{% extends 'base.html.twig' %}

{# @var challenge \AppBundle\Entity\Challenge #}
{% block body %}
    <h1>{{ challenge }}</h1>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 my-3">
            <img src="{{ challenge.game.image }}" alt="{{ challenge.game }}" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-12 col-md-6 my-3">
            {% include 'challenge/_infos.html.twig' %}
        </div>
    </div>

    {% if challenge.state == constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') %}
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-light">Results</h2>
            </div>
        </div>

        <div class="row" id="results">
            {{ render(controller('AppBundle:Challenge:getResults', { 'id': challenge.id })) }}
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-light">Rules</h2>
        </div>
    </div>

    <div class="row" id="rules">
        {% include 'challenge/_rules.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var results = false;
        {% if challenge.state == constant('AppBundle\\DBAL\\EnumChallengeStateType::CHALLENGE_STATE_STARTED') %}
            results = true;
        {% endif %}

        function loadRules() {
            $.ajax({
                url: '{{ path('challenge_show_rules', {'id': challenge.id}) }}',
                success: function (e) {
                    $('#rules').html(e.html);
                }
            });
        }

        function loadResults() {
            $.ajax({
                url: '{{ path('challenge_results', {'id': challenge.id}) }}',
                success: function (e) {
                    $('#results').html(e.html);
                }
            });
        }

        $(document).ready(function () {
            setInterval(function () {
                loadRules();
                if (results)
                    loadResults();
            }, 7000);
        });
    </script>
{% endblock %}
